---
controller_templates:
  - name: Setup - Windows Daily Demo - CAC
    job_type: run
    inventory: AAP Managed Inventory
    organization: "{{ my_organization }}"
    execution_environment: Default execution environment
    project: aap.dailydemo.windows
    playbook: playbooks/setup_demo.yml
    credentials:
      - "{{ my_aap_credential }}"
      - "{{ my_vault }}"
    extra_vars:
      my_vault: "{{ my_vault }}"
      timezone_id: America/Phoenix
      my_remote_vault: "{{ my_remote_vault }}"
      my_remote_ssh_pub_key: "{{ my_remote_ssh_pub_key }}"

  - name: Setup - f5 Daily Demo - CAC
    job_type: run
    inventory: AAP Managed Inventory
    organization: "{{ my_organization }}"
    execution_environment: ansible-automation-platform-24/ee-supported-rhel8
    project: aap.dailydemo.F5
    playbook: playbooks/setup_demo.yml
    credentials:
      - "{{ my_aap_credential }}"
      - "{{ my_vault }}"
    extra_vars:
      my_vault: "{{ my_vault }}"
      timezone_id: America/Phoenix
      my_remote_vault: "{{ my_remote_vault }}"
      my_remote_ssh_pub_key: "{{ my_remote_ssh_pub_key }}"

  - name: Setup - Panos Daily Demo - CAC
    job_type: run
    inventory: AAP Managed Inventory
    organization: "{{ my_organization }}"
    execution_environment: ansible-automation-platform-24/ee-supported-rhel8
    project: aap.dailydemo.Panos
    playbook: playbooks/setup_demo.yml
    credentials:
      - "{{ my_aap_credential }}"
      - "{{ my_vault }}"
    extra_vars:
      my_vault: "{{ my_vault }}"
      timezone_id: America/Phoenix
      my_remote_vault: "{{ my_remote_vault }}"
      my_remote_ssh_pub_key: "{{ my_remote_ssh_pub_key }}"

  - name: Setup - Satellite Daily Demo - CAC
    job_type: run
    inventory: AAP Managed Inventory
    organization: "{{ my_organization }}"
    execution_environment: Default execution environment
    project: aap.dailydemo.satellite
    playbook: playbooks/setup_demo.yml
    credentials:
      - "{{ my_aap_credential }}"
      - "{{ my_vault }}"
    extra_vars:
      my_vault: "{{ my_vault }}"
      my_remote_vault: "{{ my_remote_vault }}"
      my_remote_ssh_pub_key: "{{ my_remote_ssh_pub_key }}"

  - name: Setup - HashiCorp Daily Demo - CAC
    job_type: run
    inventory: AAP Managed Inventory
    organization: "{{ my_organization }}"
    execution_environment: hashicorp_ee
    project: aap.dailydemo.hashicorp
    playbook: playbooks/setup_demo.yml
    credentials:
      - "{{ my_aap_credential }}"
      - "{{ my_vault }}"
    extra_vars:
      my_vault: "{{ my_vault }}"
      timezone_id: America/Phoenix
      my_remote_vault: "{{ my_remote_vault }}"
      my_remote_ssh_pub_key: "{{ my_remote_ssh_pub_key }}"
