---
controller_credentials:
- name: AWS Machine Credential
  description: ssh key based authentication
  organization: "{{ my_organization }}"
  credential_type: Machine
  inputs:
    username: ec2-user
    ssh_key_data: "{{ ssh_priv_key }}"
    become_method: sudo

- name: my api tokens
  organization: "{{ my_organization }}"
  description: Demo custom Credentials
  credential_type: My API KEYS
  inputs:
    DYNATRACE_API_KEY: "{{ dyna_key }}"

- name: Red Hat Customer Portal
  organization: "{{ my_organization }}"
  credential_type: Red Hat Customer Portal
  inputs:
    user: "{{ customer_portal_username }}"
    password: "{{ customer_portal_username }}"

- name: registry.redhat.io
  organization: "{{ my_organization }}"
  credential_type: Container Registry
  inputs:
    password: "{{ reg_rh_io_passwd }}"
    username: "{{ reg_rh_io_username }}"
    host: registry.redhat.io
    verify_ssl: true

- name: quay.io
  organization: "{{ my_organization }}"
  credential_type: Container Registry
  inputs:
    password: "{{ quay_passwd }}"
    username: "{{ quay_username }}"
    host: quay.io
    verify_ssl: true

- name: Daily Demo Windows
  organization: "{{ my_organization }}"
  credential_type: Machine
  inputs:
    password: "{{ ddw_password }}"
    username: "{{ ddw_username }}"
    become_method: runas
    become_username: administrator
