- name: Setup Ansible Automation Platform
  hosts: localhost
  gather_facts: false
  vars:
    ansible_python_interpreter: /usr/bin/python3
    my_organization: "IT Service Automation"
    my_aap_url: ""
    my_aap_credential: "AAP Credential"
    my_remote_vault: ""
    aap_configuration_async_retries: 60
    aap_configuration_async_delay: 2
    controller_configuration_settings_secure_logging: true
    my_vault: ""
    timezone_id: America/Phoenix
    github_username: ""


    # There is a bug in the infra.aap_configuration that causes the need for thing
    # When bug https://issues.redhat.com/browse/AAP-39349 this section can go away
    # We will need to uncomment the token sections below
    # Mapping red hat automation platform controller credential to infra.aap_configuration collection
    aap_hostname: "{{ lookup('ansible.builtin.env', 'CONTROLLER_HOST') }}"
    aap_username: "{{ lookup('ansible.builtin.env', 'CONTROLLER_USERNAME') }}"
    aap_password: "{{ lookup('ansible.builtin.env', 'CONTROLLER_PASSWORD') }}"
    aap_validate_certs: "{{ lookup('ansible.builtin.env', 'CONTROLLER_VERIFY_SSL') }}"
    aap_token: "{{ lookup('ansible.builtin.env', 'CONTROLLER_OAUTH_TOKEN') }}"

  tasks:

    # fail with good error for Automation controller user
    - name: Determine that red hat automation platform credential exists
      ansible.builtin.assert:
        that:
          - "lookup('ansible.builtin.env', 'CONTROLLER_USERNAME') !=''"
          - "lookup('ansible.builtin.env', 'CONTROLLER_HOST') !=''"
          - "lookup('ansible.builtin.env', 'CONTROLLER_PASSWORD') !=''"
        fail_msg:
          - "Red Hat Ansible Automation Platform credential is not set"
          - "Please assign correct credentials to the Job Template"

    # - name: Create a new token
    #   ansible.platform.token:
    #     aap_hostname: "{{ lookup('ansible.builtin.env', 'CONTROLLER_HOST') }}"
    #     aap_username: "{{ lookup('ansible.builtin.env', 'CONTROLLER_USERNAME') }}"
    #     aap_password: "{{ lookup('ansible.builtin.env', 'CONTROLLER_PASSWORD') }}"
    #     aap_validate_certs: false
    #     description: AAP Setup
    #     scope: write
    #     state: present

    - name: Grab vault from remote url
      ansible.builtin.get_url:
        url: '{{ my_remote_vault }}'
        dest: files/config_as_code/remotevault.yml
        mode: '0644'

    - name: Include configurations
      ansible.builtin.include_vars:
        dir: files/config_as_code

    - name: Do stuff
      vars:
        meta_dependency_check: false  # noqa: var-naming[no-role-prefix]
      ansible.builtin.include_role:
        name: infra.aap_configuration.dispatch

    # - name: Remove my token
    #   ansible.platform.token:
    #     aap_hostname: "{{ lookup('ansible.builtin.env', 'CONTROLLER_HOST') }}"
    #     existing_token: "{{ aap_token }}"
    #     aap_token: "{{ aap_token['token'] }}"
    #     aap_validate_certs: false
    #     state: absent
